<div style="background: linear-gradient(135deg, #16a085, #1abc9c); padding: 20px; border-radius: 12px; font-family: 'Arial', sans-serif; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); text-align: center; margin-bottom: 20px;">
    <strong style="color: white; font-size: 35px; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); display: block;">
        Pandas Library
    </strong>
</div>

<div style="background: #f9f9f9; padding: 20px; border-radius: 8px; font-family: 'Verdana', sans-serif; 
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); margin: 0 auto;">
    <strong style="display: block; text-align: center; font-size: 24px; color: #2c3e50; padding: 12px; 
                   border-bottom: 2px solid #2c3e50; margin-bottom: 20px;">
        Table of Contents
    </strong>
    <div style="display: flex; flex-wrap: wrap; gap: 20px;">
        <!-- Left Column -->
        <div style="flex: 1; min-width: 520px;">
            <ul style="list-style-type: none; padding: 0; margin: 0;">
                <li style="margin: 10px 0; padding: 10px; border-left: 4px solid #1abc9c; background: #fff; border-radius: 4px;">
                    <a href="#1.-How-do-i-read-tabular-data-in-pandas" style="color: #2c3e50; text-decoration: none; display: block;">
                         How do I read tabular data in pandas
                    </a>
                </li>
                <li style="margin: 10px 0; padding: 10px; border-left: 4px solid #9b59b6; background: #fff; border-radius: 4px;">
                    <a href="#3.-Create-new-series-in-pandas-dataframe" style="color: #2c3e50; text-decoration: none; display: block;">
                         Create new series in pandas dataframe
                    </a>
                </li>
                <li style="margin: 10px 0; padding: 10px; border-left: 4px solid #e74c3c; background: #fff; border-radius: 4px;">
                    <a href="#4.-Rename-columns-name-in-pandas" style="color: #2c3e50; text-decoration: none; display: block;">
                         Rename columns name in pandas
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div style="display: flex; flex-wrap: wrap; gap: 20px;">
    <div style="flex: 1; min-width: 520px;">
        <ul style="list-style-type: none; padding: 0; margin: 0;">
            <li style="margin: 10px 0; padding: 10px; border-left: 4px solid #2ecc71; background: #fff; border-radius: 4px;">
                <a href="#6.-Sort-dataframe-or-series" style="color: #2c3e50; text-decoration: none; display: block;">
                     Sort dataframe or series
                </a>
            </li>
            <li style="margin: 10px 0; padding: 10px; border-left: 4px solid #3498db; background: #fff; border-radius: 4px;">
                <a href="#7.-filter-pandas-dataframe-by-columns-values" style="color: #2c3e50; text-decoration: none; display: block;">
                     Filter pandas dataframe by column values
                </a>
            </li>
            <li style="margin: 10px 0; padding: 10px; border-left: 4px solid #e67e22; background: #fff; border-radius: 4px;">
                <a href="#8.-Multiple-filters-on-pandas-dataframe" style="color: #2c3e50; text-decoration: none; display: block;">
                     Multiple filters on pandas dataframe
                </a>
            </li>
            <li style="margin: 10px 0; padding: 10px; border-left: 4px solid #7f8c8d; background: #fff; border-radius: 4px;">
                <a href="#13.-Use-string(str)-methods-in-pandas" style="color: #2c3e50; text-decoration: none; display: block;">
                     Use string (str) methods in pandas
                </a>
            </li>
        </ul>
    </div>
</div>

<div style="display: flex; flex-wrap: wrap; gap: 20px;">
    <div style="flex: 1; min-width: 520px;">
        <ul style="list-style-type: none; padding: 0; margin: 0;">
            <li style="margin: 10px 0; padding: 10px; border-left: 4px solid #2c3e50; background: #fff; border-radius: 4px;">
                <a href="#14.-Change-the-data-type-of-pandas-series" style="color: #2c3e50; text-decoration: none; display: block;">
                     Change the data type of pandas series
                </a>
            </li>
            <li style="margin: 10px 0; padding: 10px; border-left: 4px solid #ff5733; background: #fff; border-radius: 4px;">
                <a href="#15.-Use-groupby-in-pandas" style="color: #2c3e50; text-decoration: none; display: block;">
                     Use groupby in pandas
                </a>
            </li>
            <li style="margin: 10px 0; padding: 10px; border-left: 4px solid #3f51b5; background: #fff; border-radius: 4px;">
                <a href="#17.-Handle-missing-values-in-pandas" style="color: #2c3e50; text-decoration: none; display: block;">
                     Handle missing values in pandas
                </a>
            </li>
            <li style="margin: 10px 0; padding: 10px; border-left: 4px solid #e74c3c; background: #fff; border-radius: 4px;">
                <a href="#24.-How-i-work-with-date-and-time" style="color: #2c3e50; text-decoration: none; display: block;">
                     How I work with date and time
                </a>
            </li>
            <li style="margin: 10px 0; padding: 10px; border-left: 4px solid #c0392b; background: #fff; border-radius: 4px;">
                <a href="#30.-Check-for-equality" style="color: #2c3e50; text-decoration: none; display: block;">
                     Check for equality
                </a>
            </li>
        </ul>
    </div>
</div>

<ol style="color: #2c3e50; font-family: 'Arial', sans-serif; line-height: 1.8; padding: 10px;">
    <strong style="color: #8e44ad; background-color: #f4e7fa; padding: 12px; border-radius: 8px; display: block; margin-bottom: 10px;"> How do i read tabular data in pandas</strong>
    </li>
</ol>

In [1]:
import pandas as pd

In [8]:
pd.read_table(r'C:\Users\HP\Downloads\Compressed\imdb_1000.csv')

    star_rating,title,content_rating,genre,duration,actors_list
0    9.3,The Shawshank Redemption,R,Crime,142,"[u'T...
1    9.2,The Godfather,R,Crime,175,"[u'Marlon Brand...
2    9.1,The Godfather: Part II,R,Crime,200,"[u'Al ...
3    9,The Dark Knight,PG-13,Action,152,"[u'Christi...
4    8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta...
..                                                 ...
974  7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman',...
975  7.4,Back to the Future Part III,PG,Adventure,1...
976  7.4,Master and Commander: The Far Side of the ...
977  7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Willi...
978  7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen'...

[979 rows x 1 columns]

In [9]:
pd.read_table(r'C:\Users\HP\Downloads\Compressed\imdb_1000.csv', sep = ',')

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [11]:
users_cols = ['star' , 'Title', 'content', 'Genre', 'Duration', 'Actors']
pd.read_table(r'C:\Users\HP\Downloads\Compressed\imdb_1000.csv',sep = ',', names = users_cols)

,star,Title,content,Genre,Duration,Actors
0,star_rating,title,content_rating,genre,duration,actors_list
1,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
2,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
3,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
4,9,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
...,...,...,...,...,...,...
975,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
976,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
977,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
978,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
979,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

<ol style="color: #2c3e50; font-family: 'Arial', sans-serif; line-height: 1.8; padding: 10px;">
    <strong style="color: #8e44ad; background-color: #f4e7fa; padding: 12px; border-radius: 8px; display: block; margin-bottom: 10px;">Create new series in pandas dataframe</strong>
    </li>
</ol>

In [25]:
#EXample
'ab' + 'cd'

'abcd'

In [115]:
df  = pd.read_csv(r'C:\Users\HP\OneDrive\Seminar\Building_2.csv')

In [116]:
df.head()

,month,hour,day_type,daylight_savings_status,indoor_dry_bulb_temperature,average_unmet_cooling_setpoint_difference,indoor_relative_humidity,non_shiftable_load,dhw_demand,cooling_demand,heating_demand,solar_generation
0,7,24,7,0,NaN,NaN,NaN,2.188750,0.0,0.0,0.0,0.0
1,8,1,1,0,NaN,NaN,NaN,1.370667,0.0,0.0,0.0,0.0
2,8,2,1,0,NaN,NaN,NaN,1.101250,0.0,0.0,0.0,0.0
3,8,3,1,0,NaN,NaN,NaN,0.543217,0.0,0.0,0.0,0.0
4,8,4,1,0,NaN,NaN,NaN,0.542833,0.0,0.0,0.0,0.0

In [73]:
df.dtypes

month                                          int64
hour                                           int64
day_type                                       int64
daylight_savings_status                        int64
indoor_dry_bulb_temperature                  float64
average_unmet_cooling_setpoint_difference    float64
indoor_relative_humidity                     float64
non_shiftable_load                           float64
dhw_demand                                   float64
cooling_demand                               float64
heating_demand                               float64
solar_generation                             float64
dtype: object

In [74]:
df.month + df.hour

0       31
1        9
2       10
3       11
4       12
        ..
8755    26
8756    27
8757    28
8758    29
8759    30
Length: 8760, dtype: int64

In [75]:
df['month\hour'] = df.month + df.hour

In [76]:
df.head()

,month,hour,day_type,daylight_savings_status,indoor_dry_bulb_temperature,average_unmet_cooling_setpoint_difference,indoor_relative_humidity,non_shiftable_load,dhw_demand,cooling_demand,heating_demand,solar_generation,month\hour
0,7,24,7,0,NaN,NaN,NaN,2.188750,0.0,0.0,0.0,0.0,31
1,8,1,1,0,NaN,NaN,NaN,1.370667,0.0,0.0,0.0,0.0,9
2,8,2,1,0,NaN,NaN,NaN,1.101250,0.0,0.0,0.0,0.0,10
3,8,3,1,0,NaN,NaN,NaN,0.543217,0.0,0.0,0.0,0.0,11
4,8,4,1,0,NaN,NaN,NaN,0.542833,0.0,0.0,0.0,0.0,12

<ol style="color: #2c3e50; font-family: 'Arial', sans-serif; line-height: 1.8; padding: 10px;">
    <strong style="color: #8e44ad; background-color: #f4e7fa; padding: 12px; border-radius: 8px; display: block; margin-bottom: 10px;"> Rename columns name in pandas</strong>
    </li>
</ol>

In [77]:
df.head()

,month,hour,day_type,daylight_savings_status,indoor_dry_bulb_temperature,average_unmet_cooling_setpoint_difference,indoor_relative_humidity,non_shiftable_load,dhw_demand,cooling_demand,heating_demand,solar_generation,month\hour
0,7,24,7,0,NaN,NaN,NaN,2.188750,0.0,0.0,0.0,0.0,31
1,8,1,1,0,NaN,NaN,NaN,1.370667,0.0,0.0,0.0,0.0,9
2,8,2,1,0,NaN,NaN,NaN,1.101250,0.0,0.0,0.0,0.0,10
3,8,3,1,0,NaN,NaN,NaN,0.543217,0.0,0.0,0.0,0.0,11
4,8,4,1,0,NaN,NaN,NaN,0.542833,0.0,0.0,0.0,0.0,12

In [78]:
df.columns

Index(['month', 'hour', 'day_type', 'daylight_savings_status',
       'indoor_dry_bulb_temperature',
       'average_unmet_cooling_setpoint_difference', 'indoor_relative_humidity',
       'non_shiftable_load', 'dhw_demand', 'cooling_demand', 'heating_demand',
       'solar_generation', 'month\hour'],
      dtype='object')

In [79]:
df.rename(columns = {'indoor_dry_bulb_temperature':'indoor_temperature' , 'solar_generation':'solar'}, inplace = True)

In [80]:
df.columns

Index(['month', 'hour', 'day_type', 'daylight_savings_status',
       'indoor_temperature', 'average_unmet_cooling_setpoint_difference',
       'indoor_relative_humidity', 'non_shiftable_load', 'dhw_demand',
       'cooling_demand', 'heating_demand', 'solar', 'month\hour'],
      dtype='object')

In [84]:
df.head()

,month,hour,day_type,daylight_savings_status,indoor_temperature,average_unmet_cooling_setpoint_difference,indoor_relative_humidity,non_shiftable_load,dhw_demand,cooling_demand,heating_demand,solar,month\hour
0,7,24,7,0,NaN,NaN,NaN,2.188750,0.0,0.0,0.0,0.0,31
1,8,1,1,0,NaN,NaN,NaN,1.370667,0.0,0.0,0.0,0.0,9
2,8,2,1,0,NaN,NaN,NaN,1.101250,0.0,0.0,0.0,0.0,10
3,8,3,1,0,NaN,NaN,NaN,0.543217,0.0,0.0,0.0,0.0,11
4,8,4,1,0,NaN,NaN,NaN,0.542833,0.0,0.0,0.0,0.0,12

In [85]:
df.columns

Index(['month', 'hour', 'day_type', 'daylight_savings_status',
       'indoor_temperature', 'average_unmet_cooling_setpoint_difference',
       'indoor_relative_humidity', 'non_shiftable_load', 'dhw_demand',
       'cooling_demand', 'heating_demand', 'solar', 'month\hour'],
      dtype='object')

In [87]:
df.columns = df.columns.str.replace('_', ' ')

In [89]:
df.columns

Index(['month', 'hour', 'day type', 'daylight savings status',
       'indoor temperature', 'average unmet cooling setpoint difference',
       'indoor relative humidity', 'non shiftable load', 'dhw demand',
       'cooling demand', 'heating demand', 'solar', 'month\hour'],
      dtype='object')

<ol style="color: #2c3e50; font-family: 'Arial', sans-serif; line-height: 1.8; padding: 10px;">
    <strong style="color: #8e44ad; background-color: #f4e7fa; padding: 12px; border-radius: 8px; display: block; margin-bottom: 10px;">Sort dataframe or series</strong>
    </li>
</ol>

In [16]:
df.head()

,month,hour,day_type,daylight_savings_status,indoor_dry_bulb_temperature,average_unmet_cooling_setpoint_difference,indoor_relative_humidity,non_shiftable_load,dhw_demand,cooling_demand,heating_demand,solar_generation
0,7,24,7,0,NaN,NaN,NaN,2.188750,0.0,0.0,0.0,0.0
1,8,1,1,0,NaN,NaN,NaN,1.370667,0.0,0.0,0.0,0.0
2,8,2,1,0,NaN,NaN,NaN,1.101250,0.0,0.0,0.0,0.0
3,8,3,1,0,NaN,NaN,NaN,0.543217,0.0,0.0,0.0,0.0
4,8,4,1,0,NaN,NaN,NaN,0.542833,0.0,0.0,0.0,0.0

In [18]:
df.month.sort_values()

4379     1
4136     1
4137     1
4138     1
4139     1
        ..
3180    12
3181    12
3182    12
3173    12
3672    12
Name: month, Length: 8760, dtype: int64

In [19]:
df.sort_values('month')

,month,hour,day_type,daylight_savings_status,indoor_dry_bulb_temperature,average_unmet_cooling_setpoint_difference,indoor_relative_humidity,non_shiftable_load,dhw_demand,cooling_demand,heating_demand,solar_generation
4379,1,11,1,0,NaN,NaN,NaN,0.320517,0.0,0.0,0.0,471.129180
4136,1,8,5,0,NaN,NaN,NaN,1.450733,0.0,0.0,0.0,23.150000
4137,1,9,5,0,NaN,NaN,NaN,1.026167,0.0,0.0,0.0,30.058332
4138,1,10,5,0,NaN,NaN,NaN,1.153450,0.0,0.0,0.0,83.033330
4139,1,11,5,0,NaN,NaN,NaN,1.047767,0.0,0.0,0.0,12.491667
...,...,...,...,...,...,...,...,...,...,...,...,...
3180,12,12,7,0,NaN,NaN,NaN,1.010783,0.0,0.0,0.0,97.266670
3181,12,13,7,0,NaN,NaN,NaN,1.441833,0.0,0.0,0.0,99.479164
3182,12,14,7,0,NaN,NaN,NaN,1.680767,0.0,0.0,0.0,29.512500
3173,12,5,7,0,NaN,NaN,NaN,1.390017,0.0,0.0,0.0,0.000000
3672,12,24,6,0,NaN,NaN,NaN,0.915967,0.0,0.0,0.0,0.000000

In [20]:
df.sort_values('month', ascending=False)

,month,hour,day_type,daylight_savings_status,indoor_dry_bulb_temperature,average_unmet_cooling_setpoint_difference,indoor_relative_humidity,non_shiftable_load,dhw_demand,cooling_demand,heating_demand,solar_generation
3122,12,2,5,0,NaN,NaN,NaN,1.082592,0.0,0.0,0.0,0.000000
3173,12,5,7,0,NaN,NaN,NaN,1.390017,0.0,0.0,0.0,0.000000
3182,12,14,7,0,NaN,NaN,NaN,1.680767,0.0,0.0,0.0,29.512500
3181,12,13,7,0,NaN,NaN,NaN,1.441833,0.0,0.0,0.0,99.479164
3180,12,12,7,0,NaN,NaN,NaN,1.010783,0.0,0.0,0.0,97.266670
...,...,...,...,...,...,...,...,...,...,...,...,...
4165,1,13,6,0,NaN,NaN,NaN,1.045583,0.0,0.0,0.0,151.337500
4164,1,12,6,0,NaN,NaN,NaN,0.850000,0.0,0.0,0.0,238.858340
4163,1,11,6,0,NaN,NaN,NaN,1.747783,0.0,0.0,0.0,445.437500
4162,1,10,6,0,NaN,NaN,NaN,3.039550,0.0,0.0,0.0,329.704160
4380,1,12,1,0,NaN,NaN,NaN,0.320667,0.0,0.0,0.0,532.041700

<ol style="color: #2c3e50; font-family: 'Arial', sans-serif; line-height: 1.8; padding: 10px;">
    <strong style="color: #8e44ad; background-color: #f4e7fa; padding: 12px; border-radius: 8px; display: block; margin-bottom: 10px;">Filter pandas dataframe by columns values</strong>
    </li>
</ol>

In [21]:
df.head()

,month,hour,day_type,daylight_savings_status,indoor_dry_bulb_temperature,average_unmet_cooling_setpoint_difference,indoor_relative_humidity,non_shiftable_load,dhw_demand,cooling_demand,heating_demand,solar_generation
0,7,24,7,0,NaN,NaN,NaN,2.188750,0.0,0.0,0.0,0.0
1,8,1,1,0,NaN,NaN,NaN,1.370667,0.0,0.0,0.0,0.0
2,8,2,1,0,NaN,NaN,NaN,1.101250,0.0,0.0,0.0,0.0
3,8,3,1,0,NaN,NaN,NaN,0.543217,0.0,0.0,0.0,0.0
4,8,4,1,0,NaN,NaN,NaN,0.542833,0.0,0.0,0.0,0.0

In [27]:
booleans = []
for lenght in df.hour:
    if lenght >= 12:
        booleans.append(True)
    else:
        booleans.append(False)

In [29]:
booleans[0:7]

[True, False, False, False, False, False, False]

In [30]:
len(booleans)

8760

In [31]:
is_long = pd.Series(booleans)

In [32]:
is_long.head()

0     True
1    False
2    False
3    False
4    False
dtype: bool

In [34]:
df[is_long]

,month,hour,day_type,daylight_savings_status,indoor_dry_bulb_temperature,average_unmet_cooling_setpoint_difference,indoor_relative_humidity,non_shiftable_load,dhw_demand,cooling_demand,heating_demand,solar_generation
0,7,24,7,0,NaN,NaN,NaN,2.188750,0.0,0.0,0.0,0.000000
12,8,12,1,0,NaN,NaN,NaN,3.526000,0.0,0.0,0.0,578.870850
13,8,13,1,0,NaN,NaN,NaN,3.872033,0.0,0.0,0.0,624.845800
14,8,14,1,0,NaN,NaN,NaN,3.449367,0.0,0.0,0.0,631.187500
15,8,15,1,0,NaN,NaN,NaN,3.336417,0.0,0.0,0.0,600.270800
...,...,...,...,...,...,...,...,...,...,...,...,...
8755,7,19,1,0,NaN,NaN,NaN,1.604967,0.0,0.0,0.0,25.570833
8756,7,20,1,0,NaN,NaN,NaN,0.803133,0.0,0.0,0.0,0.000000
8757,7,21,1,0,NaN,NaN,NaN,2.194633,0.0,0.0,0.0,0.000000
8758,7,22,1,0,NaN,NaN,NaN,1.456333,0.0,0.0,0.0,0.000000
8759,7,23,1,0,NaN,NaN,NaN,3.310950,0.0,0.0,0.0,0.000000

In [35]:
df[df.hour >= 12]

,month,hour,day_type,daylight_savings_status,indoor_dry_bulb_temperature,average_unmet_cooling_setpoint_difference,indoor_relative_humidity,non_shiftable_load,dhw_demand,cooling_demand,heating_demand,solar_generation
0,7,24,7,0,NaN,NaN,NaN,2.188750,0.0,0.0,0.0,0.000000
12,8,12,1,0,NaN,NaN,NaN,3.526000,0.0,0.0,0.0,578.870850
13,8,13,1,0,NaN,NaN,NaN,3.872033,0.0,0.0,0.0,624.845800
14,8,14,1,0,NaN,NaN,NaN,3.449367,0.0,0.0,0.0,631.187500
15,8,15,1,0,NaN,NaN,NaN,3.336417,0.0,0.0,0.0,600.270800
...,...,...,...,...,...,...,...,...,...,...,...,...
8755,7,19,1,0,NaN,NaN,NaN,1.604967,0.0,0.0,0.0,25.570833
8756,7,20,1,0,NaN,NaN,NaN,0.803133,0.0,0.0,0.0,0.000000
8757,7,21,1,0,NaN,NaN,NaN,2.194633,0.0,0.0,0.0,0.000000
8758,7,22,1,0,NaN,NaN,NaN,1.456333,0.0,0.0,0.0,0.000000
8759,7,23,1,0,NaN,NaN,NaN,3.310950,0.0,0.0,0.0,0.000000

<ol style="color: #2c3e50; font-family: 'Arial', sans-serif; line-height: 1.8; padding: 10px;">
    <strong style="color: #8e44ad; background-color: #f4e7fa; padding: 12px; border-radius: 8px; display: block; margin-bottom: 10px;"> Multiple filters on pandas dataframe</strong>
    </li>
</ol>

In [36]:
df[(df.month >= 5) & (df.hour == 12)]

,month,hour,day_type,daylight_savings_status,indoor_dry_bulb_temperature,average_unmet_cooling_setpoint_difference,indoor_relative_humidity,non_shiftable_load,dhw_demand,cooling_demand,heating_demand,solar_generation
12,8,12,1,0,NaN,NaN,NaN,3.526000,0.0,0.0,0.0,578.87085
36,8,12,2,0,NaN,NaN,NaN,1.876250,0.0,0.0,0.0,569.83330
60,8,12,3,0,NaN,NaN,NaN,1.353100,0.0,0.0,0.0,582.46250
84,8,12,4,0,NaN,NaN,NaN,1.829167,0.0,0.0,0.0,570.97920
108,8,12,5,0,NaN,NaN,NaN,4.105050,0.0,0.0,0.0,580.66250
...,...,...,...,...,...,...,...,...,...,...,...,...
8652,7,12,4,0,NaN,NaN,NaN,3.902717,0.0,0.0,0.0,601.72500
8676,7,12,5,0,NaN,NaN,NaN,3.896717,0.0,0.0,0.0,615.80000
8700,7,12,6,0,NaN,NaN,NaN,0.771717,0.0,0.0,0.0,610.81250
8724,7,12,7,0,NaN,NaN,NaN,0.502750,0.0,0.0,0.0,587.19586
8748,7,12,1,0,NaN,NaN,NaN,3.256333,0.0,0.0,0.0,552.83330

In [37]:
df[(df.month >= 7)  | (df.hour == 3)]

,month,hour,day_type,daylight_savings_status,indoor_dry_bulb_temperature,average_unmet_cooling_setpoint_difference,indoor_relative_humidity,non_shiftable_load,dhw_demand,cooling_demand,heating_demand,solar_generation
0,7,24,7,0,NaN,NaN,NaN,2.188750,0.0,0.0,0.0,0.000000
1,8,1,1,0,NaN,NaN,NaN,1.370667,0.0,0.0,0.0,0.000000
2,8,2,1,0,NaN,NaN,NaN,1.101250,0.0,0.0,0.0,0.000000
3,8,3,1,0,NaN,NaN,NaN,0.543217,0.0,0.0,0.0,0.000000
4,8,4,1,0,NaN,NaN,NaN,0.542833,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
8755,7,19,1,0,NaN,NaN,NaN,1.604967,0.0,0.0,0.0,25.570833
8756,7,20,1,0,NaN,NaN,NaN,0.803133,0.0,0.0,0.0,0.000000
8757,7,21,1,0,NaN,NaN,NaN,2.194633,0.0,0.0,0.0,0.000000
8758,7,22,1,0,NaN,NaN,NaN,1.456333,0.0,0.0,0.0,0.000000
8759,7,23,1,0,NaN,NaN,NaN,3.310950,0.0,0.0,0.0,0.000000

<ol style="color: #2c3e50; font-family: 'Arial', sans-serif; line-height: 1.8; padding: 10px;">
    <strong style="color: #8e44ad; background-color: #f4e7fa; padding: 12px; border-radius: 8px; display: block; margin-bottom: 10px;"> Use string(str) methods in pandas</strong>
    </li>
</ol>

In [154]:
'hello'.upper()

'HELLO'

In [12]:
df = pd.read_csv(r'C:\Users\HP\Downloads\Compressed\imdb_1000.csv')

In [13]:
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [14]:
df.genre.str.upper()

0          CRIME
1          CRIME
2          CRIME
3         ACTION
4          CRIME
         ...
974       COMEDY
975    ADVENTURE
976       ACTION
977       HORROR
978        CRIME
Name: genre, Length: 979, dtype: object

In [15]:
df.genre.str.contains('C')

0       True
1       True
2       True
3      False
4       True
       ...
974     True
975    False
976    False
977    False
978     True
Name: genre, Length: 979, dtype: bool

In [16]:
df[df.genre.str.contains('C')]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
21,8.7,City of God,R,Crime,130,"[u'Alexandre Rodrigues', u'Matheus Nachtergael..."
...,...,...,...,...,...,...
962,7.4,Driving Miss Daisy,PG,Comedy,99,"[u'Morgan Freeman', u'Jessica Tandy', u'Dan Ay..."
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
971,7.4,Death at a Funeral,R,Comedy,90,"[u'Matthew Macfadyen', u'Peter Dinklage', u'Ew..."
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

<ol style="color: #2c3e50; font-family: 'Arial', sans-serif; line-height: 1.8; padding: 10px;">
    <strong style="color: #8e44ad; background-color: #f4e7fa; padding: 12px; border-radius: 8px; display: block; margin-bottom: 10px;"> Change the data type of pandas series</strong>
    </li>
</ol>

In [ ]:
df  = pd.read_csv(r'C:\Users\HP\OneDrive\Seminar\Building_2.csv')

In [117]:
df.head()

,month,hour,day_type,daylight_savings_status,indoor_dry_bulb_temperature,average_unmet_cooling_setpoint_difference,indoor_relative_humidity,non_shiftable_load,dhw_demand,cooling_demand,heating_demand,solar_generation
0,7,24,7,0,NaN,NaN,NaN,2.188750,0.0,0.0,0.0,0.0
1,8,1,1,0,NaN,NaN,NaN,1.370667,0.0,0.0,0.0,0.0
2,8,2,1,0,NaN,NaN,NaN,1.101250,0.0,0.0,0.0,0.0
3,8,3,1,0,NaN,NaN,NaN,0.543217,0.0,0.0,0.0,0.0
4,8,4,1,0,NaN,NaN,NaN,0.542833,0.0,0.0,0.0,0.0

In [118]:
df.dtypes

month                                          int64
hour                                           int64
day_type                                       int64
daylight_savings_status                        int64
indoor_dry_bulb_temperature                  float64
average_unmet_cooling_setpoint_difference    float64
indoor_relative_humidity                     float64
non_shiftable_load                           float64
dhw_demand                                   float64
cooling_demand                               float64
heating_demand                               float64
solar_generation                             float64
dtype: object

In [121]:
df['day_type'] = df.day_type.astype(float)

In [122]:
df['month'] = df.month.astype(float)

In [123]:
df.dtypes

month                                        float64
hour                                           int64
day_type                                     float64
daylight_savings_status                        int64
indoor_dry_bulb_temperature                  float64
average_unmet_cooling_setpoint_difference    float64
indoor_relative_humidity                     float64
non_shiftable_load                           float64
dhw_demand                                   float64
cooling_demand                               float64
heating_demand                               float64
solar_generation                             float64
dtype: object

In [124]:
df['solar_generation'] = df.solar_generation.astype(str)

In [125]:
df.dtypes

month                                        float64
hour                                           int64
day_type                                     float64
daylight_savings_status                        int64
indoor_dry_bulb_temperature                  float64
average_unmet_cooling_setpoint_difference    float64
indoor_relative_humidity                     float64
non_shiftable_load                           float64
dhw_demand                                   float64
cooling_demand                               float64
heating_demand                               float64
solar_generation                              object
dtype: object

<ol style="color: #2c3e50; font-family: 'Arial', sans-serif; line-height: 1.8; padding: 10px;">
    <strong style="color: #8e44ad; background-color: #f4e7fa; padding: 12px; border-radius: 8px; display: block; margin-bottom: 10px;">Use groupby in pandas</strong>
    </li>
</ol>

In [92]:
df.head()

,month,hour,day type,daylight savings status,indoor temperature,average unmet cooling setpoint difference,indoor relative humidity,non shiftable load,dhw demand,cooling demand,heating demand,solar,month\hour
0,7,24,7,0,NaN,NaN,NaN,2.188750,0.0,0.0,0.0,0.0,31
1,8,1,1,0,NaN,NaN,NaN,1.370667,0.0,0.0,0.0,0.0,9
2,8,2,1,0,NaN,NaN,NaN,1.101250,0.0,0.0,0.0,0.0,10
3,8,3,1,0,NaN,NaN,NaN,0.543217,0.0,0.0,0.0,0.0,11
4,8,4,1,0,NaN,NaN,NaN,0.542833,0.0,0.0,0.0,0.0,12

In [93]:
df.month.mean()

6.526027397260274

In [94]:
df.groupby('month').mean()#use for grouping the some catagory

,hour,day type,daylight savings status,indoor temperature,average unmet cooling setpoint difference,indoor relative humidity,non shiftable load,dhw demand,cooling demand,heating demand,solar,month\hour
month,,,,,,,,,,,,
1,12.5,3.935484,0.0,NaN,NaN,NaN,1.171734,0.0,0.0,0.0,78.072027,13.5
2,12.5,4.000000,0.0,NaN,NaN,NaN,0.967457,0.0,0.0,0.0,95.804951,14.5
3,12.5,4.000000,0.0,NaN,NaN,NaN,0.837050,0.0,0.0,0.0,170.205933,15.5
4,12.5,4.166667,0.0,NaN,NaN,NaN,0.705432,0.0,0.0,0.0,201.905989,16.5
5,12.5,3.806452,0.0,NaN,NaN,NaN,0.810464,0.0,0.0,0.0,209.630065,17.5
6,12.5,4.033333,0.0,NaN,NaN,NaN,1.364259,0.0,0.0,0.0,240.640519,18.5
7,12.5,4.072581,0.0,NaN,NaN,NaN,1.462699,0.0,0.0,0.0,212.333529,19.5
8,12.5,3.806452,0.0,NaN,NaN,NaN,1.318138,0.0,0.0,0.0,185.894706,20.5
9,12.5,4.033333,0.0,NaN,NaN,NaN,1.011968,0.0,0.0,0.0,151.208337,21.5
10,12.5,4.064516,0.0,NaN,NaN,NaN,0.889798,0.0,0.0,0.0,123.501064,22.5
11,12.5,3.900000,0.0,NaN,NaN,NaN,0.790604,0.0,0.0,0.0,105.465663,23.5
12,12.5,4.096774,0.0,NaN,NaN,NaN,1.460977,0.0,0.0,0.0,79.506247,24.5

In [95]:
df.groupby('month').solar.mean()#use for grouping the some catagory

month
1      78.072027
2      95.804951
3     170.205933
4     201.905989
5     209.630065
6     240.640519
7     212.333529
8     185.894706
9     151.208337
10    123.501064
11    105.465663
12     79.506247
Name: solar, dtype: float64

<ol style="color: #2c3e50; font-family: 'Arial', sans-serif; line-height: 1.8; padding: 10px;">
    <strong style="color: #8e44ad; background-color: #f4e7fa; padding: 12px; border-radius: 8px; display: block; margin-bottom: 10px;">Handle missing values in pandas</strong>
    </li>
</ol>

In [42]:
df.head()

,month,hour,day_type,daylight_savings_status,indoor_dry_bulb_temperature,average_unmet_cooling_setpoint_difference,indoor_relative_humidity,non_shiftable_load,dhw_demand,cooling_demand,heating_demand,solar_generation
0,7,24,7,0,NaN,NaN,NaN,2.188750,0.0,0.0,0.0,0.0
1,8,1,1,0,NaN,NaN,NaN,1.370667,0.0,0.0,0.0,0.0
2,8,2,1,0,NaN,NaN,NaN,1.101250,0.0,0.0,0.0,0.0
3,8,3,1,0,NaN,NaN,NaN,0.543217,0.0,0.0,0.0,0.0
4,8,4,1,0,NaN,NaN,NaN,0.542833,0.0,0.0,0.0,0.0

In [43]:
df.isnull().tail()

,month,hour,day_type,daylight_savings_status,indoor_dry_bulb_temperature,average_unmet_cooling_setpoint_difference,indoor_relative_humidity,non_shiftable_load,dhw_demand,cooling_demand,heating_demand,solar_generation
8755,False,False,False,False,True,True,True,False,False,False,False,False
8756,False,False,False,False,True,True,True,False,False,False,False,False
8757,False,False,False,False,True,True,True,False,False,False,False,False
8758,False,False,False,False,True,True,True,False,False,False,False,False
8759,False,False,False,False,True,True,True,False,False,False,False,False

In [44]:
df.isnull().sum(axis=0)# in the direction of column (down the column)

month                                           0
hour                                            0
day_type                                        0
daylight_savings_status                         0
indoor_dry_bulb_temperature                  8760
average_unmet_cooling_setpoint_difference    8760
indoor_relative_humidity                     8760
non_shiftable_load                              0
dhw_demand                                      0
cooling_demand                                  0
heating_demand                                  0
solar_generation                                0
dtype: int64

In [45]:
df.isnull().sum(axis=1)

0       3
1       3
2       3
3       3
4       3
       ..
8755    3
8756    3
8757    3
8758    3
8759    3
Length: 8760, dtype: int64

In [46]:
df.dropna(how='any').shape # it will drop the any row which has only one missing value

(0, 12)

In [48]:
df.dropna(how='all').shape# it drop if the whole row has missing value

(8760, 12)

In [49]:
df.dropna(subset=(['month','cooling_demand']),how='any').shape
# it will check the missing values in the selected col and drop it

(8760, 12)

In [52]:
#Fill missing values using interpolation
import numpy as np
df = pd.DataFrame({'a':[100, 120, 130, np.nan, 140], 'b':[9, 9, np.nan, 7.5, 6.5]})
df.index = pd.to_datetime(['2019-01', '2019-02', '2019-03', '2019-04', '2019-05'])
df

                a    b
2019-01-01  100.0  9.0
2019-02-01  120.0  9.0
2019-03-01  130.0  NaN
2019-04-01    NaN  7.5
2019-05-01  140.0  6.5

In [53]:
df.interpolate()

                a     b
2019-01-01  100.0  9.00
2019-02-01  120.0  9.00
2019-03-01  130.0  8.25
2019-04-01  135.0  7.50
2019-05-01  140.0  6.50

<ol style="color: #2c3e50; font-family: 'Arial', sans-serif; line-height: 1.8; padding: 10px;">
    <strong style="color: #8e44ad; background-color: #f4e7fa; padding: 12px; border-radius: 8px; display: block; margin-bottom: 10px;"> How i work with date and time</strong>
    </li>
</ol>

In [81]:
df = pd.DataFrame([[12, 25, 2019, 'christmas'], [11, 28, 2019, 'thanksgiving']],
                  columns=['month', 'day', 'year', 'holiday'])
df

   month  day  year       holiday
0     12   25  2019     christmas
1     11   28  2019  thanksgiving

In [82]:
df['date'] = pd.to_datetime(df[['month', 'day', 'year']])
df

   month  day  year       holiday       date
0     12   25  2019     christmas 2019-12-25
1     11   28  2019  thanksgiving 2019-11-28

In [83]:
df.dtypes

month               int64
day                 int64
year                int64
holiday            object
date       datetime64[ns]
dtype: object

In [98]:
df = pd.read_csv(r'C:\Users\HP\OneDrive\Seminar\AEP_hourly (1).csv')

In [99]:
df.head()

              Datetime   AEP_MW
0  2004-12-31 01:00:00  13478.0
1  2004-12-31 02:00:00  12865.0
2  2004-12-31 03:00:00  12577.0
3  2004-12-31 04:00:00  12517.0
4  2004-12-31 05:00:00  12670.0

In [100]:
df.dtypes

Datetime     object
AEP_MW      float64
dtype: object

In [101]:
df['Time'] = pd.to_datetime(df.Datetime)

In [102]:
df.head()

              Datetime   AEP_MW                Time
0  2004-12-31 01:00:00  13478.0 2004-12-31 01:00:00
1  2004-12-31 02:00:00  12865.0 2004-12-31 02:00:00
2  2004-12-31 03:00:00  12577.0 2004-12-31 03:00:00
3  2004-12-31 04:00:00  12517.0 2004-12-31 04:00:00
4  2004-12-31 05:00:00  12670.0 2004-12-31 05:00:00

In [103]:
df.dtypes

Datetime            object
AEP_MW             float64
Time        datetime64[ns]
dtype: object

In [ ]:
df.Time.dt.hour

In [104]:
df['hour'] = df.Time.dt.hour

In [105]:
df.head()

              Datetime   AEP_MW                Time  hour
0  2004-12-31 01:00:00  13478.0 2004-12-31 01:00:00     1
1  2004-12-31 02:00:00  12865.0 2004-12-31 02:00:00     2
2  2004-12-31 03:00:00  12577.0 2004-12-31 03:00:00     3
3  2004-12-31 04:00:00  12517.0 2004-12-31 04:00:00     4
4  2004-12-31 05:00:00  12670.0 2004-12-31 05:00:00     5

In [ ]:
df.Time.dt.day_of_week

In [106]:
df['day_of_week'] = df.Time.dt.day_of_week

In [107]:
df.head()

              Datetime   AEP_MW                Time  hour  day_of_week
0  2004-12-31 01:00:00  13478.0 2004-12-31 01:00:00     1            4
1  2004-12-31 02:00:00  12865.0 2004-12-31 02:00:00     2            4
2  2004-12-31 03:00:00  12577.0 2004-12-31 03:00:00     3            4
3  2004-12-31 04:00:00  12517.0 2004-12-31 04:00:00     4            4
4  2004-12-31 05:00:00  12670.0 2004-12-31 05:00:00     5            4

In [66]:
df.Time.dt.day_of_year

0         366
1         366
2         366
3         366
4         366
         ...
121268      1
121269      1
121270      1
121271      1
121272      2
Name: Time, Length: 121273, dtype: int32

In [110]:
df['year'] = df.Time.dt.year

In [111]:
df.head()

              Datetime   AEP_MW                Time  hour  day_of_week  year
0  2004-12-31 01:00:00  13478.0 2004-12-31 01:00:00     1            4  2004
1  2004-12-31 02:00:00  12865.0 2004-12-31 02:00:00     2            4  2004
2  2004-12-31 03:00:00  12577.0 2004-12-31 03:00:00     3            4  2004
3  2004-12-31 04:00:00  12517.0 2004-12-31 04:00:00     4            4  2004
4  2004-12-31 05:00:00  12670.0 2004-12-31 05:00:00     5            4  2004

In [112]:
df.Time.max()

Timestamp('2018-08-03 00:00:00')

In [113]:
df.Time.max() - df.Time.min() # do mathes with that

Timedelta('5053 days 23:00:00')

<ol style="color: #2c3e50; font-family: 'Arial', sans-serif; line-height: 1.8; padding: 10px;">
    <strong style="color: #8e44ad; background-color: #f4e7fa; padding: 12px; border-radius: 8px; display: block; margin-bottom: 10px;">Check for equality</strong>
    </li>
</ol>

In [66]:
df = pd.DataFrame({'a':[1, 2, np.nan], 'b':[1, 2, np.nan]})
df

     a    b
0  1.0  1.0
1  2.0  2.0
2  NaN  NaN

In [68]:
#This is not a reliable method for checking:
df.a == df.b

0     True
1     True
2    False
dtype: bool

In [69]:
#Instead, you can check for equality using the equals() method:
df.a.equals(df.b)

True

In [70]:
df_new = df.copy()
df_new.equals(df)

True

In [71]:
df = pd.DataFrame({'c':[1, 2, 3], 'd':[1.0, 2.0, 3.0], 'e':[1.0, 2.0, 3.000005]})
df

   c    d         e
0  1  1.0  1.000000
1  2  2.0  2.000000
2  3  3.0  3.000005

In [74]:
#It's important to note that the equals() method (shown in the first trick) requires identical data types in order to return True:
#This returned False because "c" is integer and "d" is float.
df.c.equals(df.d)

False